<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>693469363468-lm3ds0cnuupc70r82md7gmvac6rlt76j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.693469363468-lm3ds0cnuupc70r82md7gmvac6rlt76j</string>
	<key>API_KEY</key>
	<string>AIzaSyBU2NUZpO401RqT0_I5W9WU5l1nHcsfQoc</string>
	<key>GCM_SENDER_ID</key>
	<string>693469363468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.culcap.culcap</string>
	<key>PROJECT_ID</key>
	<string>culcap-cca2a</string>
	<key>STORAGE_BUCKET</key>
	<string>culcap-cca2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693469363468:ios:3e1c8bd8e8a56abaa41d29</string>
</dict>
</plist>